@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html {
        font-family: "Inter", system-ui, sans-serif;
    }

    q::before, q::after {
        content: none;
    }

    input[type="search"] {
        -webkit-appearance: none;
        border-radius: 0;
    }

    .min-safe-h-screen {
        min-height: calc(100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0));
    }

    @supports (-webkit-touch-callout: none) {
        .min-safe-h-screen {
            min-height: -webkit-fill-available;
        }
    }
}